.item {
    margin-bottom: 10px;
    border: none !important;
}

.item-inner {
    display: none;
}

.list-ios {
    background: none !important;
}

p {
    text-align: left;
    font-size: 14px;
    font-style: italic;
}

h2 {
    text-align: left;
}
.swiper-slide {
    overflow-y: scroll;    
    display: block;    
}