<ion-content>
  <br/>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Meine ID</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <h2>
        {{ deviceService.id | async }}
      </h2>
    </ion-card-content>
  </ion-card>
  <ion-button class="ion-margin" expand="block" href="https://www.be-a-sheep.com/">
    So schützen wir uns
  </ion-button>
  <ion-button class="ion-margin" expand="block" href="https://www.be-a-sheep.com/">
    Selbstisolation
  </ion-button>
  <ion-button class="ion-margin" expand="block" href="https://www.be-a-sheep.com/">
    Nutzungshinweis
  </ion-button>
  <ion-button class="ion-margin" expand="block" href="https://www.be-a-sheep.com/">
    Datenschutz
  </ion-button>
  <ion-img src="assets/img/undraw_wash_hands_nwl-4.svg"></ion-img>
</ion-content>
