<ion-header>
  <ion-toolbar style="padding-top: 20px; padding-bottom: 20px;">
    <ion-title>
      <h1>Meldungen</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-img style="width: 20%; margin: auto;" src="assets/img/check-circle-solid.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p style="text-align: center;">Alles in Ordnung!
          Zur Zeit gibt es keine Meldungen zu deiner bewegungs Umgebung.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-img src="assets/img/undraw_wash_hands_nwl-4.svg"></ion-img>
</ion-content>
